extract/**
glIntercept/**
glsdk/**
obj/**
website/**
.DS_Store
*.obj
*.dll
*.fo
*.lib
*.exp
*.ilk
*.pdb
*.dep
*.idb
*.ncb
*.suo
*.user
BuildLog.htm
*.exe
*.res
*.manifest
*.bsc
*.sbr
*.pdf
Documents/Build/fo.xsl
Documents/Build/website.xsl
desktop.ini
*.sln
*.vcproj
AllTutorials.sln
*.blend?
*.make
Makefile
*.o
*.d
*.a
*.lo
framework/lib/Debug
*.cbp
*.vcxproj
*.filters
*.sdf
*.workspace
*.layout
Shaders/**
*.depend
*.sln
*.vcproj
*.cbTemp